@page "/1"

<PageTitle>Main</PageTitle>

<div class="container">
    <h2>Наши услуги:</h2>


    <div class="container">
        <ul>
            <li>УСЛУГА</li>
            <li>УСЛУГА</li>
            <li>УСЛУГА</li>
            <li>УСЛУГА</li>
        </ul>

        

    </div>

    
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Запись онлайн</button>
    </div>

<AppointmentButton></AppointmentButton>

</div>

<style>
    .container {
        display: grid;
        place-items: center;
        height: 20vh;
    }

    body {
        transform: scale(1.2);
    }
</style> 