@page "/1"

<PageTitle>Main</PageTitle>

<div class="container">
    <h2>Наши услуги:</h2>


    <div class="container">
        <ul>
            @foreach (var id in aad)
            {

                <li>
                    <div class="list-item">@id</div>
                </li>
            }
        </ul>

        

    </div>

    
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Запись онлайн</button>
    </div>

<AppointmentButton></AppointmentButton>

</div>

<style>
    .container {
        display: grid;
        place-items: center;
        height: 20vh;
    }
   
    .list-item {
        margin-left: 20px;
    }

</style> 

@code {
    private List<string> aad = new List<string>() { "Мойщик автомобилей", "Автомаляр", "Автомеханик", "Автодиагност", "Шиномонтажник" };
}