@page "/"

<PageTitle>Main</PageTitle>



<!DOCTYPE html>
<html>
<head>
    <div class="container">
        <h2>Наши услуги:</h2>
    </div>
    <style>
        .container {
            display: grid;
            place-items: center;
            height: 20vh;
        }

        body {
            transform: scale(1.2);

        }
    </style>
</head>
<body>
    
    <div class="container">
        <p>Услуга</p>
        <p>УслуГа</p>
        <p>УсЛуга</p>
        <p>УслУга</p>
        <button>Запись Онлайн</button>
    </div>
    
</body>
</html>
<AppointmentButton></AppointmentButton>
