@* @page "/"

<PageTitle>Main</PageTitle>

<div class="container">
    <h2>Наши услуги:</h2>


    <div class="container">
        <ul>
            <li>УСЛУГА</li>
            <li>УСЛУГА</li>
            <li>УСЛУГА</li>
            <li>УСЛУГА</li>
        </ul>

        

    </div>

    <div class="btn btn-primary">
        <button class="ButtonClass" type="submit">Нажми меня</button>
    </div>

<AppointmentButton></AppointmentButton>

</div>

<style>
    .container {
        display: grid;
        place-items: center;
        height: 20vh;
    }

    body {
        transform: scale(1.2);
    }

    .custom-button1 {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
</style> *@