@page "/profile"

<PageTitle>Profile</PageTitle>

<div class="content-box">
    <MasterScreen Id=@Id/>
</div>

@code{
    [Parameter]
    [SupplyParameterFromQuery]
    public int? Id { get; set; } = null;
}