@page "/3"

<PageTitle>ChooseWork</PageTitle>

<div class="container" style="text-align: center;">
    <h1>Вход</h1>
    <form method="post" style="display: inline-block; text-align: left;">
        <div class="form-group">
            <label for="PhoneNumber">Телефон</label>
            <span></span>
            <input type="tel" id="PhoneNumber" name="PhoneNumber" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Password">Пароль</label>
            <span></span>
            <input type="password" id="Password" name="Password" class="form-control" required />
        </div>

        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Готово</button>
        </div>
    </form>
</div>

